{%extends 'accounts/base.html'%}
{% load crispy_forms_tags %}

{%block title%} Login{%endblock%}

{%block body%}
<br>
<form method="POST">
    {%csrf_token%}
    {{form|crispy}}
    <button type="submit">Log in</button>
</form>
<p>You don't have an account ? <a href="{%url 'sign-up'%}">Sign in</a></p>

{%endblock%}
